  <ion-modal-view>
    <ion-header-bar>
		<h1 class="title">
			<div class="row">
				<div class="col">Lv 1</div>
				<div class="col">{{myPlayer.name}}</div>
				<div class="col">Fighter</div>
			</div>
		</h1>
    </ion-header-bar>
    <ion-content>
	
	<div class="row">
		<div class="col">
	
			<div class = "row">
			   <div class = "col">STR</div>
			   <div class = "col">{{myPlayer.str}}</div>
			</div>

			<div class = "row">
			   <div class = "col">INT</div>
			   <div class = "col">{{myPlayer.int}}</div>
			</div>

			<div class = "row">
			   <div class = "col">DEX</div>
			   <div class = "col">{{myPlayer.dex}}</div>
			</div>

			<div class = "row">
			   <div class = "col">LUK</div>
			   <div class = "col">{{myPlayer.luk}}</div>
			</div>

		</div>
		
		<div class="col">
			<div class = "row">
			   <div class = "col">HITS</div>
			   <div class = "col">{{myPlayer.hits}}</div>
			</div>

			<div class = "row">
			   <div class = "col">MANA</div>
			   <div class = "col">{{myPlayer.mana}}</div>
			</div>
			
			<div class = "row">
			   <div class = "col">STAM</div>
			   <div class = "col">{{myPlayer.stam}}</div>
			</div>			
		</div>
	</div>

    </ion-content>
  </ion-modal-view>