  <ion-modal-view>
    <ion-header-bar>
		<h1 class="title">
			World Info
		</h1>
    </ion-header-bar>
    <ion-content>
	
    <ion-list>

      <ion-item class="item-remove-animate item-icon-left item-icon-right" ng-repeat="world in myWorld" type="item-text-wrap">
		<ion-list>
		<ion-item ng-repeat="(key, value) in world">
        <div>
          <div class="row" style="text-align: center;">
            <div class="col">
			{{key}} {{value}}
            </div>
          </div>
        </div>
		</ion-item>
		</ion-list>
        <i class="icon ion-chevron-left icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(asset)">
          <i class="icon ion-android-remove-circle"></i>
        </ion-option-button>
        <ion-option-button class="button-positive" ng-click="openModalAssetEdit(asset)">
          <i class="icon ion-edit"></i>
        </ion-option-button>
        
      </ion-item>
    </ion-list>

    </ion-content>
  </ion-modal-view>